<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rinc.bong.rivatorproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="rivator.db" />
        <meta-data
            android:name="VERSION"
            android:value="6" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.rinc.bong.rivatorproject" />

        <activity android:name=".controller.activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activitys.SignupPortfolioActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".controller.activitys.SignupTermsAgreeActivity" />
        <activity android:name=".controller.activitys.SignupTermsDetailActivity" />
        <activity
            android:name=".controller.activitys.SelectActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".controller.activitys.TeacherSignUpActivity" />
        <activity android:name=".controller.activitys.StudentSignUpActivity" />
        <activity
            android:name=".controller.activitys.HomeActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".controller.activitys.NoticeActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".controller.activitys.HomeWorkActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".controller.activitys.ProjectActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".controller.activitys.CourseManagementActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".controller.activitys.ContestManagementActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".controller.activitys.CalendarActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".controller.activitys.LoginActivity" />
        <activity
            android:name=".controller.activitys.ProjectDetailActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".controller.activitys.PasswordModifyActivity" />
        <activity android:name=".controller.activitys.ProfileModifyActivity" />
        <activity android:name=".controller.activitys.AccountAdvancementActivity" />
        <activity android:name=".controller.activitys.UserModifyActivity" />
        <activity
            android:name=".controller.activitys.EasterEggActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".controller.activitys.CourseDetailActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".controller.activitys.ProjectAddActivity" />
        <activity android:name=".controller.activitys.CourseAddActivity" />
        <activity android:name=".controller.activitys.ContestAddActivity" />
        <activity
            android:name=".controller.activitys.ContestDetailActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".controller.activitys.CourseReviewDetailActivity" />
        <activity android:name=".controller.activitys.CourseReviewWriteActivity"></activity>
        <activity android:name=".controller.activitys.SearchViewActivity"/>
        <activity android:name=".controller.activitys.TeacherProfileActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
    </application>

</manifest>