<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rinc.bong.rivatorproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.SignupDegreeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activitys.SignupPortfolioActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activitys.SignupTermsAgreeActivity" />
        <activity android:name=".activitys.SignupTermsDetailActivity" />
        <activity
            android:name=".activitys.SelectActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".activitys.TeacherSignUpActivity" />
        <activity android:name=".activitys.StudentSignUpActivity" />
        <activity android:name=".activitys.HomeActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
        <activity android:name=".activitys.NoticeActivity"/>
        <activity android:name=".activitys.HomeWorkActivity"/>
        <activity android:name=".activitys.ProjectActivity"/>
        <activity android:name=".activitys.LectureManagementActivity"/>
        <activity android:name=".activitys.ContestManagementActivity"/>
    </application>

</manifest>